<%- include('includes/head.ejs') %>

<body>
    <header>
        <%- include('includes/navigation.ejs') %>
    </header>

    <main>
        <!-- affichage des erreurs -->
        <% if (errors) { %>
            <div class="error">
                <% errors.forEach(function(error) { %>
                    <p><%= error %></p>
                <% }) %>
            </div>
        <% } %>


 
        <form action="" method="POST">
            <div class="form-control">
            <label for="titre">Titre</label>
            <input type="text" name="titre">
            <label for="contenu">Article</label>
            <textarea name="contenu" id="" cols="30" rows="10"></textarea>
            <button type="submit">Ajouter</button>
            </div>
        </form>
    </main>

<%- include('includes/end.ejs') %>
