<%- include('includes/head.ejs') %>

<body>
    <header>
        <%- include('includes/navigation.ejs') %>
    </header>

    <main>
        <h1>Mon blogue</h1>
        <% if (article){ %>
        <div class="grid">
            <article class="card post-item">
                <header class="card__header">
                    <h2 class="post__title"><%= article.titre %></h2>
                    <p class="post__title">id: <%= article.id %></p>
                    <p><%= article.contenu %></p>
                </header>
            </article>
        </div>
        <% } %>
    </main>
<%- include('includes/end.ejs') %>