<%- include('includes/head.ejs') %>

<body>
    <header>
        <%- include('includes/navigation.ejs') %>
    </header>

    <main>
        <form action="/articles/edit" method="POST">
            <div class="form-control">
            <label for="titre">Titre</label>
            <input type="text" name="titre" value=<%= article.titre %>>
            <label for="contenu">Article</label>
            <textarea name="contenu" id="" cols="30" rows="10"><%= article.contenu %></textarea>
            <input type="hidden" value="<%= article._id %>" name="articleId">
            <button type="submit">Modifier</button>
            </div>
        </form>
    </main>

<%- include('includes/end.ejs') %>
