

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Mon blogue</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Accueil</a></li>
        <li class="nav-item"><a href="/articles/new" class="nav-link">Ajout d'articles</a></li>
          <li class="nav-item"><a href="/categories/new" class="nav-link">Ajout de catégories</a></li>
      </ul>
    </header>


    