<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/post.css">
</head>
</head>

<body>
    <header>
        <%- include('includes/navigation.ejs') %>
    </header>

    <main>
        <form action="/admin/add-post" method="POST">
            <input type="text" name="title">
            <button type="submit">Ajouter</button>
        </form>
    </main>

<%- include('includes/end.ejs') %>
