<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/post.css">
</head>

<body>
    <header>
        <%- include('includes/navigation.ejs') %>
    </header>

    <main>
        <h1>Mon blogue</h1>
        <div class="grid">
            <article class="card post-item">
                <header class="card__header">
                    <h2 class="post__title"><%= post.title %></h2>
                    <h2 class="post__title"><%= post.id %></h2>
                </header>
            </article>
        </div>
    </main>
<%- include('includes/end.ejs') %>