{{> head}} <!-- Inclure le header -->
<body>
    {{> navigation}} <!-- Inclure la navigation -->
    <main class="container text-center">
  
        <h1 class="display-1 fw-bold text-danger">404</h1>
        <p class="fs-3">Oups ! Page introuvable.</p>
        <p class="lead">La page que vous cherchez n'existe pas ou a été déplacée.</p>
        <a href="/" class="btn btn-primary">Retour à l'accueil</a>
    
    
    </main>

</body>
{{> footer}} <!-- Inclure le footer -->