{{> head}} <!-- Inclure le header -->
<body>
    {{> navigation}} <!-- Inclure la navigation -->
    <main class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <h2 class="text-center">Ajouter un article</h2>

                <form action="/admin/articles/new" method="POST" class="bg-light p-4 rounded shadow">
                    <div class="mb-3">
                        <label for="titre" class="form-label">Titre de l'article :</label>
                        <input type="text" id="titre" name="titre" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        Créer
                    </button>
                </form>

                <div class="text-center mt-3">
                    <a href="/" class="btn btn-outline-secondary">Retour à l'accueil</a>
                </div>
            </div>
        </div>
    </main>
{{> footer}} <!-- Inclure le footer -->
