<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

     <!-- Bootstrap CSS (Chargé depuis node_modules) -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/css/main.css">
</head>