{{> head}} <!-- Inclure le header -->
<body>
    {{> navigation}} <!-- Inclure la navigation -->
    <main>
        <h1>Erreur 404 - Page non trouvée</h1>
        <a href="/">Retour à l'accueil</a>
    
    </main>

</body>
{{> footer}} <!-- Inclure le footer -->