{{> head}} <!-- Inclure le header -->

<body>
    {{> navigation}} <!-- Inclure la navigation -->
    <main>
        <div class="grid">
            <article class="card post-item">
                <header class="card__header">
                    <h2 class="post__title">{{article.titre}}</h2>
                    <h2 class="post__title">{{article.id}}</h2>
                </header>
            </article>
        </div>
    </main>
{{> footer}} <!-- Inclure le footer -->