/* Applique un modèle flexbox pour toute la page */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Main prend tout l’espace disponible si besoin */
main {
  flex: 1;
}


