{{> head}} <!-- Inclure le header -->
<body>
    {{> navigation}} <!-- Inclure la navigation -->
    <main class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Ajouter une catégorie</h2>

                {{#if errors}}
                    <div class="alert alert-danger">
                        <ul class="mb-0">
                            {{#each errors}}
                                <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}

                <form action="/categories/new" method="POST" class="bg-light p-4 rounded shadow">
                    <div class="mb-3">
                        <label for="nom" class="form-label">Nom de la catégorie :</label>
                        <input type="text" id="nom" name="nom" class="form-control" 
                               value="{{nom}}">
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Ajouter</button>
                </form>

                <div class="text-center mt-3">
                    <a href="/categories" class="btn btn-outline-secondary">Retour aux catégories</a>
                </div>
            </div>
        </div>
    </main>
</body>
{{> footer}} <!-- Inclure le footer -->
