    <footer class="bg-dark text-light text-center py-3 mt-4">
        <div class="container">
            <p class="mb-0">© 2024 Mon Blog - Tous droits réservés.</p>
        </div>
    </footer>

    <!-- Bootstrap JS (Local) -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    </body>
</html>