{{> head}} <!-- Inclure le header -->
<body>
    {{> navigation}} <!-- Inclure la navigation -->
    <main class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title text-center">{{article.titre}}</h2>
                        
                        <div class="mt-3">
                            <p class="card-text">{{article.contenu}}</p>
                        </div>

                         <div class="d-flex justify-content-between mt-4">
                            <a href="/" class="btn btn-outline-secondary">Retour aux articles</a>
                            <div>
                                <a href="/articles/{{article._id}}/edit" class="btn btn-primary">Modifier</a>
                                <form action="/articles/{{article._id}}/delete" method="POST" class="d-inline">
                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
{{> footer}} <!-- Inclure le footer -->
