{{> head}} <!-- Inclure le header -->
<body>
    {{> navigation}} <!-- Inclure la navigation -->
    <main class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <h2 class="text-center">{{#if article}} Modifier {{else}} Ajouter {{/if}} un article</h2>

                {{#if errors}}
                    <div class="alert alert-danger">
                        <ul class="mb-0">
                            {{#each errors}}
                                <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}

                <form action="{{#if article}}/articles/{{article._id}}/edit{{else}}/articles/new{{/if}}" method="POST" class="bg-light p-4 rounded shadow">
                    <div class="mb-3">
                        <label for="titre" class="form-label">Titre de l'article :</label>
                        <input type="text" id="titre" name="titre" class="form-control" 
                               value="{{#if article}}{{article.titre}}{{/if}}" required>
                    </div>

                    <div class="mb-3">
                        <label for="contenu" class="form-label">Contenu de l'article :</label>
                        <textarea id="contenu" name="contenu" class="form-control" rows="5" required>{{#if article}}{{article.contenu}}{{/if}}</textarea>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        {{#if article}} Modifier {{else}} Ajouter {{/if}}
                    </button>
                </form>

                <div class="text-center mt-3">
                    <a href="/" class="btn btn-outline-secondary">Retour à l'accueil</a>
                </div>
            </div>
        </div>
    </main>
</body>
{{> footer}} <!-- Inclure le footer -->
