{{> head}} <!-- Inclure le header -->
<body>
    {{> navigation}} <!-- Inclure la navigation -->
    <main class="container mt-4">
        <h1 class="text-center mb-4">Mon super blog</h1>
      

        {{#if articles.length}}
            <div class="row">
                {{#each articles}}
                    <div class="col-md-4 mb-4">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">{{this.titre}}</h5>
                                <p class="card-text">{{this.contenu}}</p>
                                <a href="/articles/{{this.id}}" class="btn btn-primary">Voir</a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <p class="text-center text-muted">Aucun article disponible.</p>
        {{/if}}

        <div class="text-center mt-4">
            <a href="/articles/new" class="btn btn-success">Ajouter un article</a>
        </div>
    </main>
{{> footer}} <!-- Inclure le footer -->
