{{> head}} <!-- Inclure le header -->

<body>
    {{> navigation}} <!-- Inclure la navigation -->

      <main class="container text-center">
        <h1 class="display-1 fw-bold text-danger">500</h1>
        <p class="fs-3">Oups ! Erreur interne du serveur.</p>
        <p class="lead">Un problème inattendu est survenu. Veuillez réessayer plus tard.</p>
        <a href="/" class="btn btn-primary">Retour à l'accueil</a>
    </main>

{{> footer}} <!-- Inclure le footer -->